/* @override http://localhost:8082/collada2json/webgl/apps/viewer/ui/stage.reel/stage.css */

/* Global -------------------------------- */

html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-user-select: none;
}

html {
    background-color: hsl(0,0%,95%)
}

body {
    font: 13px/1.231 "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #222;
    overflow: hidden;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Stage -------------------------------- */

.stage {
    display: -webkit-box;
    height: 100%;
}

.stage .view {
    -webkit-box-flex: 1;
}

.stage .options {
    width: 270px;
    height: 100%;
}