/* @override http://localhost:8082/collada2json/webgl/apps/viewer/ui/options.reel/options.css */

.options {
    height: 100%;
    border-left: 1px solid hsl(0,0%,80%);
    background-color: rgb(239,240,240);
}

.title {
    padding: 15px;
    margin: 0;
    color: hsl(0,0%,0%);
    font-size: 24px;
}

.options .optionsGroup {
    position: relative;
    display: block;
    padding: 15px;
    border-top: 1px solid hsl(0,0%,80%);
}
.options .optionsGroup:first-child {
    border: none;
}

.options h3 {
    margin: 0 0 10px 0;
    color: hsl(0,0%,30%);
    line-height: 20px;
}

.options label {
    vertical-align: middle;
}

.options .range {
    width: 100%;
}

.options .progress {
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(0,0%,97%);
}

.options .progress .montage-progress-bar {
    background-color: hsl(200,100%,50%);
    height: 8px;
}

.options .number {
    width: 100px;
    text-align: center;
}

.options .checkbox {
    font-size: 16px;
}


/* Custom */

.speed .range {
    margin: 10px 0 20px 0;
}

.speed label {
    margin: 0 10px 0 4px;
}
