.Options {
    height: 100%;
    border-left: 1px solid hsl(0,0%,80%);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background-color: rgb(239,240,240);
}

.Options .scroller {
    -webkit-box-flex: 1;
}

.Options h3 {
    display: inline-block;
    margin: 0 0 10px 0;
    color: black;
    line-height: 20px;

}

.Options .selectedInfo {
    position: absolute;
    top: 13px;
    right: 15px;
    display: inline-block;
    margin: 0;
}

.Options .OptionsGroup {
    position: relative;
    display: block;
    padding: 15px;
    border-top: 1px solid hsl(0,0%,80%);
    background-color: rgb(239,240,240);
    -webkit-transition: background 0.2s ease;
}

.Options .highlighted {
    background-color: white;
}

.Options .OptionsGroup:first-child {
    border: none;
}

.Options .selectedInfo {
    margin: 5px 0 0 0;
}

