*.dir
*.sln
!loaders/CSharp/CSharp.sln
*.suo
*.vcxproj*
*.nupkg
CMakeFiles
cmake_install.cmake
COLLADA2GLTF/CMakeCache.txt
COLLADA2GLTF/collada2gltf.opensdf
COLLADA2GLTF/collada2gltf.sdf
COLLADA2GLTF/Win32/
COLLADA2GLTF/bin/
COLLADA2GLTF/ipch/
COLLADA2GLTF/lib/
COLLADA2GLTF/GitSHA1.cpp
specification/.project
.DS_Store
COLLADA2GLTF/x64/
loaders/CSharp/.vs/
loaders/CSharp/Generator/bin/
loaders/CSharp/Generator/obj/
loaders/CSharp/GeneratorLib/bin/
loaders/CSharp/GeneratorLib/obj/
loaders/CSharp/GeneratorUnitTests/bin/
loaders/CSharp/GeneratorUnitTests/obj/
loaders/CSharp/glTFLoader/bin/
loaders/CSharp/glTFLoader/obj/
loaders/CSharp/glTFLoader/Schema/
loaders/CSharp/glTFLoader_Shared/bin/
loaders/CSharp/glTFLoader_Shared/obj/
loaders/CSharp/glTFLoaderUnitTests/bin/
loaders/CSharp/glTFLoaderUnitTests/obj/
loaders/CSharp/InstallerNuGet/bin/
loaders/CSharp/InstallerNuGet/obj/
loaders/CSharp/packages/