*.dir
*.sln
*.suo
*.vcxproj*
CMakeFiles
cmake_install.cmake
converter/COLLADA2GLTF/CMakeCache.txt
converter/COLLADA2GLTF/collada2gltf.opensdf
converter/COLLADA2GLTF/collada2gltf.sdf
converter/COLLADA2GLTF/Win32/
converter/COLLADA2GLTF/bin/
converter/COLLADA2GLTF/ipch/
converter/COLLADA2GLTF/lib/
converter/COLLADA2GLTF/GitSHA1.cpp
specification/.project