[submodule "specification/validator/JSV"]
	path = specification/validator/JSV
	url = https://github.com/garycourt/JSV.git
[submodule "converter/COLLADA2GLTF/dependencies/OpenCOLLADA"]
	path = converter/COLLADA2GLTF/dependencies/OpenCOLLADA
	url = https://github.com/KhronosGroup/OpenCOLLADA.git
[submodule "converter/COLLADA2GLTF/dependencies/rapidjson"]
	path = converter/COLLADA2GLTF/dependencies/rapidjson
	url = https://github.com/kennytm/rapidjson.git
