# Copyright 2012-2021 The Khronos Group Inc.
# SPDX-License-Identifier: Apache-2.0

*.dir
*.suo
*.vcxproj*
*.nupkg
specification/.project
.DS_Store
specification/2.0/PropertiesReference.adoc
specification/2.0/JsonSchemaReference.adoc
specification/2.0/Specification.html
specification/2.0/Specification.pdf
